<div class="container-xl py-4 mw-700">
  <h4>Create Booking</h4>
  <% @schools.each do |school| %>
    <div class="d-flex align-items-center gap-3 border rounded p-3 bg-white">
      <%= form_with url: "/learners/createbooking/#{school.id}", method: :get, remote: true do |f| %>
        <div class="flex-grow-1">
          <h5><%= school.full_name.humanize %></h5>
          <div><%= school.address.humanize %></div>
          <div class="d-flex align-items-center gap-2 mt-1 mb-2">
            <img src="/star-full.svg" width="20" />
            <div class="fw-bold"><%= school.sum_of_ratings %></div>
            <div
              class="text-decoration-underline text-primary cursor-pointer"
              data-bs-toggle="modal"
              data-bs-target="#reviewsModal"
            >
              See Reviews
            </div>
          </div>
          <div
            class="d-flex align-items-center flex-wrap flex-sm-nowrap gap-2 mt-1 mb-2"
          >
            <%= select_tag :lesson_id, options_for_select(school.school_lessons.pluck(:title, :id)) , include_blank: "Select Lesson"  ,class: 'form-select mx-1 mx-sm-2 px-1 px-sm-3'%>
          </div>
        </div>
        <div>
          <input type="submit" value="Book" class="btn btn-primary" />
        </div>
      <% end %>
    </div>

  <!-- Reviews Modal -->
  <div
    class="modal fade"
    id="reviewsModal"
    tabindex="-1"
    aria-labelledby="reviewsModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="reviewsModalLabel">Reviews</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <% if school.booking_reviews.present? %> 
            <% school.booking_reviews.each do |review| %>
            <div class="border-bottom mb-2 pb-1">
              <div class="d-flex align-items-center gap-2 mt-1 mb-1">
                <img src="/star-full.svg" width="20" />
                <div class="fw-bold"><%= review.rating.to_f %></div>
              </div>
              <%= review.feedback %>
              <div class="fw-bold mt-1"><%= review.customer.full_name.humanize %></div>
              <div class="d-flex align-items-center gap-2 mt-1">
                <div class="fw-bold">Lesson:</div>
                <div><%= review.lesson.title.humanize %></div>
              </div>
              <div class="d-flex align-items-center gap-2 mt-1">
                <div class="fw-bold">Instructor:</div>
                <div><%= review.lesson.instructor.full_name.humanize %></div>
              </div>
            </div>
            <% end %> 
          <% else %>
            <div>No reviews currently exists.</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
