<div
  class="modal fade"
  id="reviewModal"
  tabindex="-1"
  aria-labelledby="reviewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="reviewModalLabel">
          How was your lesson and instructor
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <%= form_with url: "/learners/add_review/#{booking.lesson.id}", method: :post, remote: true do |f| %>
        <div class="modal-body">
          <div class="mb-3">
            <%= f.label :rating, 'Rate your instructor', class: 'form-label' %>
            <%= f.select :rating, options_for_select([['Select a rating', ''], ['Excellent', 5], ['Very Good', 4], ['Average', 3], ['Poor', 2], ['Terrible', 1]], selected: nil), {}, {class: 'star-rating form-control'} %>
          </div>
          <div class="mb-3">
            <%= f.label :feedback, 'Write your feedback', class: 'form-label' %>
            <%= f.text_area :feedback, rows: 3, class: 'form-control' %>
          </div>
          <%= f.hidden_field :booking_id, value: booking.id %>
          <%= f.hidden_field :school_id, value: booking.lesson.school.id %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <%= f.submit 'Add Review', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>