<!DOCTYPE html>
<html>
  <head>
    <title>Driving School Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" /> %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script> %>
  </head>

  <body class="bg-body-tertiary">
    <% if notice or alert.present? or flash[:warning] or flash[:info].present? %>
      <div class="toast-container position-fixed top-45 end-0 p-3">
        <div class="toast show align-items-center text-bg-<%= notice ? 'primary' : 'danger' %> border-0">
          <div class="d-flex">
            <div class="toast-body">
              <% if notice %>
                <%= notice.html_safe %>
              <% end %>
              <% if alert.present? %>
                <%= alert.html_safe %>
              <% end %>
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>
    <% end %>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
