<div class="min-vh-100-header d-flex align-items-center">
  <main class="border form-signin w-100 mx-auto my-3 p-4 bg-white rounded">
    <h2 class="h3 mb-3 fw-normal">Sign Up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="mb-3">
      <%= f.label :email, class:"form-label" %>
      <%= f.email_field :email, class:"form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :first_name, class:"form-label" %>
      <%= f.text_field :first_name, class:"form-control", required: true %>
    </div>
    <div class="mb-3">
      <%= f.label :last_name, class:"form-label" %>
      <%= f.text_field :last_name, class:"form-control", required: true %>
    </div>
    <div class="mb-3">
      <%= f.label :username, class:"form-label" %>
      <%= f.text_field :username, class:"form-control", required: true %>
    </div>
    <div class="mb-3">
      <%= f.label :phone_number, class:"form-label" %>
      <%= f.text_field :phone_number, class:"form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :address, class:"form-label" %>
      <%= f.text_field :address, class:"form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :picture, class:"form-label" %>
      <%= f.file_field :picture, class:"form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :fitness_certificate, class:"form-label" %>
      <%= f.file_field :fitness_certificate, class:"form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class:"form-label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, class:"form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", required: true %>
    </div>


      <div class="d-flex align-items-center gap-2">
        <%= f.submit "Sign Up", class:'btn btn-primary' %>
        OR
        <a href="/users/sign_in" class="btn btn-secondary">Sign In</a>
      </div>
    <% end %>
  </main>
</div>