<div class="min-vh-100-header d-flex align-items-center">
  <main class="border form-signin w-100 mx-auto my-3 p-4 bg-white rounded">
    <h2 class="h3 mb-3 fw-normal">Sign Up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :role, value: (params.dig(:role) || "user") %>
      <div class="mb-3">
        <%= f.label :email, class:"form-label" %>
        <%= f.email_field :email, class:"form-control", required: true %>
      </div>

      <div class="mb-3">
        <%= f.label :first_name, class:"form-label" %>
        <%= f.text_field :first_name, class:"form-control", required: true %>
      </div>
      <% unless params[:role] == "school" %>
        <div class="mb-3">
          <%= f.label :last_name, class:"form-label" %>
          <%= f.text_field :last_name, class:"form-control", required: true %>
        </div>
      <% end %>
      <div class="mb-3">
        <%= f.label :username, class:"form-label" %>
        <%= f.text_field :username, class:"form-control", required: true %>
      </div>
      <div class="mb-3">
        <%= f.label :phone_number, class:"form-label" %>
        <%= f.text_field :phone_number, class:"form-control", required: true %>
      </div>

      <div class="mb-3">
        <%= f.label :address, class:"form-label" %>
        <%= f.text_field :address, class:"form-control", required: true %>
      </div>

      <div class="mb-3">
        <%= f.label :picture, class:"form-label" %>
        <%= f.file_field :picture, class:"form-control", required: true %>
      </div>

    <% if ["instructor", "user"].include? params[:role] %>
      <div class="mb-3">
        <%= f.label :fitness_certificate, class:"form-label" %>
        <%= f.file_field :fitness_certificate, class:"form-control", required: true %>
      </div>
    <% end %>

      <% if params[:role] == "instructor" %>
        <%= select_tag :school_id, options_for_select(User.school.pluck(:first_name, :id)) , include_blank: "Select Driving School"  ,class: 'form-select mx-1 mx-sm-2 px-1 px-sm-3'%>
      <%end%>

      <div class="mb-3">
        <%= f.label :password, class:"form-label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", required: true %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, class:"form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", required: true %>
      </div>


      <div class="d-flex align-items-center gap-2">
        <%= f.submit "Sign Up", class:'btn btn-primary' %>
        OR
        <a href="/users/sign_in" class="btn btn-secondary">Sign In</a>
      </div>
    <% end %>
  </main>
</div>